* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: #000000;
  position: relative;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}

.token.class-name {
  color: #4ec9b0; /* teal like VS Code */
}


main .right {
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}

.btn{
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  color: black;
  background-color: rgb(219, 219, 255);
  padding: 3px 18px;
  font-weight: 800;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

main .right{
  background-color: #343434;
  color: white;
  font-size: 18px;
}